* {
    font-family: 'Nunito', sans-serif;

}

header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}


#navbar img {
    width: 90px;
}

#navbar {
    background-color: #272727;
    padding: 5px;
}

#navbar a {
    text-align: center;
    font-size: 15px;
    color: #ffffff;
    padding: 14px 16px;
}

#navbar a:hover {
    color: #ffc400;
}

#search-container form {
    width: 200%;
    margin: 0 auto;
}


footer {
    text-align: center;
    background-color: #3d3d3d;
    color: #fff;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-bottom: 0;
}
