* {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.navbar-brand {
    padding-left: 20px;
}

#search-container {
    width: 35%;
    justify-content: space-between;
    margin: 0 auto;
}


/*-- Texto Principal --*/
#text-container h1 {
    text-align: center;
    padding: 50px;
}

#text-container p {
    text-align: center;
    padding: 10px;
    display: flex;
}

/*-- Botão de compra --*/
.btn-primary {
    color: #ffc400;
    background-color: #191919;
    justify-content: space-between;
    border: none;
    padding: 10px;
}

.btn-primary:hover {
    color: #191919;
    background-color: #ffc400;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    justify-content: space-between;
}

/*-- Produtos em destaque --*/
#events-container img {
    max-height: 1080px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#events-container .subtitle {
    color: #757575;
    margin-bottom: 30px;
    padding: 30px;
}

/*--rodapé--*/
footer {
    text-align: center;
    background-color: #191919;
    color: #fff;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-bottom: 0;
}
